<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8">
    <title>文件列表</title>
    <!--    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>-->
    <!-- 引入组件库 -->
    <!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <!-- 引入样式 -->
    <!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="../../public/static/pear/css/pear.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <style>
        .expand.pear-btn:hover {
            color: currentColor;
            background: none;
        }

    </style>
</head>

<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <table id="user-table" lay-filter="user-table"></table>
    </div>
</div>

<script type="text/html" id="user-toolbar">
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
            <i class="layui-icon layui-icon-delete"></i>
            删除
        </button>
</script>

<script type="text/html" id="organization-bar">
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i
            class="layui-icon layui-icon-delete"></i></button>
</script>
<div id="bottom">
<script src="../../public/static/layui/layui.js"></script>
<script src="../../public/static/pear/pear.js"></script>
<script>

    layui.use(['table', 'form', 'jquery', 'drawer', 'dropdown', 'upload', 'toast', 'laydate'], function () {
        let table = layui.table;
        var upload = layui.upload;
        let form = layui.form;
        let toast = layui.toast;
        let $ = layui.jquery;
        let drawer = layui.drawer;
        let laydate = layui.laydate;//日期
        let myDate = new Date();//获取当前时间设置选择时间的范围
        let maxtime = myDate.getFullYear() + "-" + (myDate.getMonth() + 1) + "-" + (myDate.getDate());//拼接当前是时间

        //初始化选择时间控件
        laydate.render({
            elem: '#s_date'
            , type: 'date'
            , range: '~'
            , max: maxtime//设置选择最大时间为当前
            , loading: false
            , calendar: true
            , btns: ['clear', 'confirm', 'now']
            , done: function (value, date) {
                //这里时选中后触发事件
                //value是选中的值
                var time = value;
            }
        });


        // formToggle({
        //     elem: "#userForm",
        // });

        function formToggle(options) {
            var defaultsOpt = {
                isExpand: false,
                prefixIcon: "layui-icon",
                toggleIcon: ['layui-icon-down', 'layui-icon-up'],
                toggleText: ['展开', '折叠'],
            }
            var opt = $.extend({}, defaultsOpt, options);
            var elem = opt.elem; // 绑定的表单元素,必填
            var min = opt.min; // 最小显示数,默认显示一行
            var isExpand = opt.isExpand; // 初始展开
            var prefixIcon = opt.prefixIcon + " "; // 图标前缀
            var toggleIcon = opt.toggleIcon; // 折叠和展开时的图标类[unExpandIcon, ExpandIcon]
            var toggleText = opt.toggleText; // 折叠和展开时的文本

            var eleDOM = $(elem + " .layui-inline");
            var firstElTop = eleDOM.first().offset().top;
            var targetEl = eleDOM.filter(function (index) {
                var isGtMin = (index + 1) > min;
                var isGtFirstElTop = $(this).offset().top > firstElTop;
                var isNeqLast = (index + 1) != eleDOM.length;
                return min ? isGtMin && isNeqLast : isGtFirstElTop && isNeqLast;
            });

            var unExpandIcon = prefixIcon + toggleIcon[0];
            var expandIcon = prefixIcon + toggleIcon[1];
            var unExpandText = toggleText[0];
            var expandText = toggleText[1];
            var btnSelector = elem + " .expand";
            $(btnSelector).append("<i></i>")
            if (targetEl.length > 0) {
                if (isExpand) {
                    $(btnSelector).prepend("<span>" + expandText + "</span>");
                    $(btnSelector + ">i").addClass(expandIcon);
                } else {
                    $(btnSelector).prepend("<span>" + unExpandText + "</span>")
                    $(btnSelector + ">i").addClass(unExpandIcon)
                    targetEl.addClass("layui-hide");
                }
                $(btnSelector).click(function () {
                    isExpand = !isExpand;
                    if (isExpand) {
                        $(btnSelector + ">span").html(expandText);
                        $(btnSelector + ">i").removeClass(unExpandIcon).addClass(expandIcon);
                        targetEl.removeClass("layui-hide")
                    } else {
                        $(btnSelector + ">span").html(unExpandText);
                        $(btnSelector + ">i").removeClass(expandIcon).addClass(unExpandIcon);
                        targetEl.addClass("layui-hide")
                    }
                })
            }
        }

        let cols = [
            [
                    {
                    type: 'checkbox'
                },
                {
                    title: '文件名',
                    field: 'File',
                    align: 'center'
                },
                {
                    title: '更新时间',
                    field: 'UpdateTime',
                    align: 'center'
                },
                {
                    title: '操作',
                    toolbar: '#organization-bar',
                    align: 'center',
                    width: 120
                }
            ]
        ]

        table.render({
            elem: '#user-table',
            url: '/api/timedUploads/getFiles',
            page: true,
            cols: cols,
            skin: 'line',
            loading: false,
            toolbar: '#user-toolbar',
            defaultToolbar: null,
            done: function (res, curr, count) {
                $("#layui-layer-shade1").remove()
                $("#layui-layer1").remove()
                $("#layui-layer-move").remove()


            }
        });



        table.on('tool(user-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            }
        });

        table.on('toolbar(user-table)', function (obj) {
            if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            }
        });

        form.on('submit(user-query)', function (data) {
            table.reload('user-table', {
                where: data.field
            })
            return false;
        });

        form.on('switch(user-enable)', function (obj) {
            layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
        });

        window.remove = function (obj) {
            layer.confirm('确定要删除该条数据', {
                icon: 3,
                title: '提示'
            }, function (index) {
                layer.close(index);
                $.ajax({
                    url: "/api/timedUploads/removeFile" ,
                    dataType: 'json',
                    data: "files=" + obj.data.File,
                    type: 'post',
                    success: function (result) {
                        if (result.code = 0) {
                            toast.success({title: '通知', message: result.msg, position: 'topCenter'});
                            obj.del();
                        } else {
                            obj.del();
                            toast.success({title: '通知', message: result.msg, position: 'topCenter'});
                        }
                    }
                })
            });
        }

        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data;
            if (data.length === 0) {
                layer.msg("未选中数据", {
                    icon: 3,
                    time: 1000
                });
                return false;
            }
            let files = "";
            for (let i = 0; i < data.length; i++) {
                files += data[i].File + ",";
            }
            files = files.substr(0, files.length - 1);
            layer.confirm('确定要删除这些文件', {
                icon: 3,
                title: '提示'
            }, function (index) {
                layer.close(index);

                $.ajax({
                    url: "/api/timedUploads/removeFile",
                    data: "files=" + files,
                    dataType: 'json',
                    type: 'post',
                    success: function (result) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1000
                            }, function () {
                                setTimeout(function () {
                                     location.reload();;
                                }, 1000);
                            });
                    }
                })
            });
        }
        window.refresh = function (param) {
            table.reload('user-table');
        }
        layui.code();

        upload.render({
            elem: '.upload'
            , done: function (res, index, upload) {
                //获取当前触发上传的元素，一般用于 elem 绑定 class 的情况，注意：此乃 layui 2.1.0 新增
                var item = this.item;
                console.log(res.code)
                if (res.code==0){
                    toast.success({title: '通知', message: res.msg, position: 'topCenter'});
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }else{
                    toast.success({title: '通知', message: res.msg, position: 'topCenter'});
                }

            }


        })
    })


</script>
</body>

</html>
